doctype 5
html
  head
    title= title
    script(src='https://cdn.firebase.com/v0/firebase.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://code.jquery.com/jquery-1.10.0.min.js')
    script(src='/javascripts/test.js')
    block content