body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
header {
  float: left;
  width: 73%;
  padding: 1%;
}
aside {
  float: right;
  width: 22%;
  padding: 1%;
  text-align: center;
}
#targetdiv {
  min-height: 300px;
  max-height: 300px;
  border: 1px solid #808080;
  overflow-y: auto;
}
.error {
  border-color: #f00;
}
input,
button {
  margin: 0;
}
input {
  width: 69%;
  padding: 2%;
  border: 0;
  background: #f3f3f3;
}
button {
  width: 26%;
  padding: 2%;
}
