body
  margin: 0px
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

header
  float: left
  width: 73%
  padding: 1%
aside
  float:right
  width: 22%
  padding: 1%
  text-align: center

#targetdiv
  min-height: 300px
  max-height: 300px
  border: 1px solid gray
  overflow-y: auto

.error
  border-color: red

input, button
  margin: 0

input
  width: 69%
  // border-radius: 15px
  padding: 2%
  border: 0
  background: #f3f3f3

button
  width: 26%
  padding: 2%

